<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gap.eclipse.jdt.smartStatic"
         name="Smart Static Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
		<javaCompletionProposalComputer
        activate="false"
        categoryId="gap.eclipse.jdt.core.smartStatic"
        class="org.gap.eclipse.jdt.types.SmartStaticProposalComputer"
        requiresUIThread="false">
  </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.jdt.ui.specific_content_assist.command"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M1+SPACE">
         <parameter
               id="org.eclipse.jdt.ui.specific_content_assist.category_id"
               value="gap.eclipse.jdt.core.smartStatic">
         </parameter>
      </key>
      <key
            commandId="gap.eclipse.jdt.core.open"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M1+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="org.gap.eclipse.jdt.symbol.OpenSymbolCommand"
            id="gap.eclipse.jdt.core.open"
            name="%openSymbol">
      </command>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
         <compilationParticipant 
         	class="org.gap.eclipse.jdt.annotation.MarkerParticipant"
         	id="gap.eclipse.jdt.markers" >
         </compilationParticipant>
   </extension>
   <extension
         id="gap.eclipse.jdt.markers.recursive"
         name="Method Recursion"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
         
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="gap.eclipse.jdt.markers.recursive"
            name="gap.eclipse.jdt.annotation.recursive">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="gap.eclipse.jdt.annotation.recursive"
            colorPreferenceKey="gap.eclipse.jdt.annotation.recursive.color"
            colorPreferenceValue="75,55,10"
            contributesToHeader="false"
            highlightPreferenceKey="gap.eclipse.jdt.annotation.recursive.highlight"
            highlightPreferenceValue="true"
            icon="icons/view16/recursion.png"
            isGoToNextNavigationTarget="false"
            label="Recursion"
            overviewRulerPreferenceKey="gap.eclipse.jdt.annotation.recursive.overviewruler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="gap.eclipse.jdt.annotation.recursive.text"
            textPreferenceValue="true"
            textStylePreferenceKey="gap.eclipse.jdt.annotation.recursive.textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="gap.eclipse.jdt.annotation.recursive.verticalruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="gap.eclipse.jdt.smartSubtype"
         name="Smart Subtype Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
		<javaCompletionProposalComputer
        activate="false"
        categoryId="gap.eclipse.jdt.core.smartSubType"
        class="org.gap.eclipse.jdt.types.SmartSubTypeProposalComputer"
        requiresUIThread="false">
		 </javaCompletionProposalComputer>
   </extension>
   <extension
         id="gap.eclipse.jdt.smartEnum"
         name="Smart Enum Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
		<javaCompletionProposalComputer
        activate="false"
        categoryId="gap.eclipse.jdt.core.smartEnum"
        class="org.gap.eclipse.jdt.types.SmartEnumLiteralProposalComputer"
        requiresUIThread="false">
		 </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.gap.eclipse.jdt.hyperlinks.JavaReferenceHyperlinkDetector"
            id="gap.eclipse.jdt.core.referenceHyperlinkDetector"
            name="%openReferences"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.gap.eclipse.jdt.quickfixes.StringFormatAsistProcessor"
            id="gap.eclipse.jdt.core.stringFormat"
            name="String Format Asist Processor"
            requiredSourceLevel="1.5">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.debug.ui.variablesView.popupMenu"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.gap.eclipse.jdt.debug.DumpVariableAction"
               id="gap.eclipse.jdt.core.debugview.saveVariable"
               label="%saveToDisk"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="smartStatic"
         name="Smart Static Completion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/sessionprocessor_types.png">
      </proposalCategory>
   </extension>
   <extension
         id="smartEnum"
         name="Smart Enum Completion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/sessionprocessor_types.png">
      </proposalCategory>
   </extension>
   <extension
         id="smartSubType"
         name="Smart SubType Completion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/sessionprocessor_types.png">
      </proposalCategory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gap.eclipse.jdt.types.WarmUpSearchIndex">
      </startup>
   </extension>
</plugin>
