<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gap.eclipse.jdt.subType"
         name="Smart SubType proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
		<javaCompletionProposalComputer
			activate="true"
			categoryId="gap.eclipse.jdt.proposalCategory.subType"
			class="org.gap.eclipse.jdt.types.SubTypeProposalComputer"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.jdt.ui.specific_content_assist.command"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M1+SPACE">
         <parameter
               id="org.eclipse.jdt.ui.specific_content_assist.category_id"
               value="gap.eclipse.jdt.proposalCategory.subType">
         </parameter>
      </key>
      <key
            commandId="gap.eclipse.jdt.core.open"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M1+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="org.gap.eclipse.jdt.symbol.OpenSymbolCommand"
            id="gap.eclipse.jdt.core.open"
            name="Open Symbol">
      </command>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
         <compilationParticipant 
         	class="org.gap.eclipse.jdt.annotation.MarkerParticipant"
         	id="gap.eclipse.jdt.markers" >
         </compilationParticipant>
   </extension>
   <extension
         id="gap.eclipse.jdt.markers.recursive"
         name="Method Recursion"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
         
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="gap.eclipse.jdt.markers.recursive"
            name="gap.eclipse.jdt.annotation.recursive">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="gap.eclipse.jdt.annotation.recursive"
            colorPreferenceKey="gap.eclipse.jdt.annotation.recursive.color"
            colorPreferenceValue="75,55,10"
            contributesToHeader="false"
            highlightPreferenceKey="gap.eclipse.jdt.annotation.recursive.highlight"
            highlightPreferenceValue="true"
            icon="icons/view16/recursion.png"
            isGoToNextNavigationTarget="false"
            label="Recursion"
            overviewRulerPreferenceKey="gap.eclipse.jdt.annotation.recursive.overviewruler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="gap.eclipse.jdt.annotation.recursive.text"
            textPreferenceValue="true"
            textStylePreferenceKey="gap.eclipse.jdt.annotation.recursive.textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="gap.eclipse.jdt.annotation.recursive.verticalruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
</plugin>
