<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               id="gap.eclipse.ide.core.projectActions"
               label="Project Actions">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof></or>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="gap.eclipse.ide.core.closenested"
                  label="Close Hierarchy"
                  style="push">
	             <visibleWhen checkEnabled="false">
	               <with variable="activeMenuSelection">
	               	<iterate
                       ifEmpty="false">
                 <and>
                    <test
                          property="org.eclipse.core.resources.open"
                          value="true">
                    </test>
                    <instanceof
                          value="org.eclipse.core.resources.IProject">
                    </instanceof></and>
	               	</iterate>
	               </with>
	                   
	             </visibleWhen>
                  
            </command>
            <command
                  commandId="gap.eclipse.ide.core.opennested"
                  label="Open Hierarchy"
                  style="push">
	             <visibleWhen checkEnabled="false">
	               <with variable="activeMenuSelection">
	               	<iterate
                       ifEmpty="false">
                 <and>
                    <test
                          property="org.eclipse.core.resources.open"
                          value="false">
                    </test>
                    <instanceof
                          value="org.eclipse.core.resources.IProject">
                    </instanceof></and>
	               	</iterate>
	               </with>
	                   
	             </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.project"
            defaultHandler="org.gap.eclipse.ide.projects.CloseNestedProjectsHandler"
            id="gap.eclipse.ide.core.closenested"
            name="Close Hierarchy">
      </command>
      <command
            categoryId="org.eclipse.ui.category.project"
            defaultHandler="org.gap.eclipse.ide.projects.OpenNestedProjectsHandler"
            id="gap.eclipse.ide.core.opennested"
            name="Open Hierarchy">
      </command>
   </extension>
</plugin>
