<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gap.eclipse.recommenders.subType"
         name="Smart SubType proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
		<javaCompletionProposalComputer
			activate="true"
			categoryId="gap.eclipse.recommenders.proposalCategory.subType"
			class="org.gap.eclipse.recommenders.types.SubTypeProposalComputer"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.jdt.ui.specific_content_assist.command"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+M1+SPACE">
         <parameter
               id="org.eclipse.jdt.ui.specific_content_assist.category_id"
               value="gap.eclipse.recommenders.proposalCategory.subType">
         </parameter>
      </key>
   </extension>
</plugin>
